#logo{
    height: 150px
}
header{
    display:grid;
    background-color: black;
    width: 100%;
    /* justify-content: space-between; */
    grid-template-columns: repeat(5,1fr);
    align-items: center;
}
body{
    margin: 0px;
}
#header{
    color: white;
    font-size:70px; 
    position: absolute;
    left: 42%;
}
#logout{
    height: 90px;
    position: absolute;
    right: 2%;
}
div input{
    font-size: 20px;
    padding: 1%;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
div input:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
div input:nth-last-child(1){
    background-color: rgba(255, 0, 0, 0.717);
}
div input:nth-last-child(1):hover{
    background-color: red;
    cursor: pointer;
}
h1{
    margin: 1%;
    /* padding: 10px; */
}
hr{
    border: 3px dotted;
}
#ADD{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}
#sample{

    display: flex;
    justify-content: space-around;
}
