@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#all_products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(500,720px);
    gap: 12px;

}
#all_products>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    /* margin-bottom: 20px; */
}
#all_products>div>img{
width: 100%;
}
#all_products>div>img:hover{
    transform: scale(1.07);
    overflow: hidden;
    }
#string{
    color: green;
    font-family: 'Poppins', sans-serif; 
}
#all_products>div>h2{
    font-weight: bold;
}
#price{
    text-decoration: line-through;
}
#desc{
  border-bottom: 0.5px solid white;  
  transition: border-bottom 1s ease-out 80ms
}
#desc:hover{
 border-bottom: 3px solid rgb(0, 0, 0);
 cursor: pointer;
}
#all_products>div>button{
background-color: black;
color: white;
padding: 10px 50px;
font-size: 0.9em;
}
#all_products>div>button:hover{
    cursor: pointer;
    background-color: rgba(000, 000, 000, 0.7);
}